html{
    margin :0;
    padding:0 10% 0;
}
body{
    font-size: 1.3rem;
    background:linear-gradient(75deg, rgba(183, 16, 86, 1) 31%, rgba(0, 18, 212, 1) 86%);
}
/* .img-grid{
    display: grid;
    width:50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto ;
    gap:15px;
        
} */

h2{
    padding:2% 0;
    padding-left: 1%;
    /* box-shadow: 0 3px pink; */
    border-bottom: 2px solid #e1f783;
    width:70%;
    color: #a6eaf7;
    margin-top: 10%;
}


img{
    margin:2%;
 }
@media screen and (max-width:480px){
    .btns{
        display: block;    
    }
    
}
@media screen and (max-width:480px){
    
h2{
    padding:2% 0;
    padding-left: 1%;
    margin-top: 20%;
    /* box-shadow: 0 3px pink; */
    border-bottom: 3px solid #F56D91;
    width:100%;
    color: #1ea6f5;
}
}
/* img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
} */
.carousel{
    width:80%;
    margin:10px auto;
    /* background:linear-gradient(75deg, rgba(183, 16, 86, 1) 31%, rgba(0, 18, 212, 1) 86%); */
    
}
.w-10{
    border-radius: 3%;
    width:50%;
    display: block;
    margin: 10px auto;
    
}
.carousel-item{
    padding-right: 2%;
}

.profile{
    width: 100%;
    padding-left: 3%;
  
}
 .profile>img{
    border-radius: 10%;
    object-fit:fill;
    margin-left: 0;
 }
 li{
     list-style-type: none;
   
 }
 a{
     text-decoration: none;
 }
 ul{
     line-height: 2;
 }
 .navbar-nav{
     margin-left: auto;
 }
 .navbar{
     background-color: #03611ace;
    
 }
 

 .navbar-dark .navbar-brand{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color:#a6fa75;
 }
 .btn{
     margin: 20px;
     padding:0.5%;
     font-size: large;
     background-color: aquamarine;
 }
 
 .about, .education{
     margin:2%;
     padding: 1% 0;
     color: rgb(253, 200, 121);
 }
 .code{
    margin:2%;
    padding-bottom: 4%;
 }
 .myimage{
     margin:2%;
 }
 .poems{
    margin:3%;
 }
 h3{
     margin:2% 2%;
     color:white;
     
 }

 /* .carousel-control-prev{
     background-color:#79f161a6;
    
 }
 .carousel-control-next{
    background-color:  #79f161a6;

} */
.btns{
    width:20%;
    display: block;
    color:#000c4b;
    padding:1% 2%;
    margin:15px 0px;
   background-color: #1ea6f5;
    border-radius: 20px;
    border-color: #e1f783;
    box-shadow:3px 3px rgb(43, 43, 42);
}
.btns:hover{
    font-weight: bold;
    padding:1%;
    background:linear-gradient(90deg,  rgba(247, 247, 247, 1) 0%,rgba(0, 72, 240, 1) 100%);
    transform: translate(4px,-4px);
    color: #070255;
    box-shadow:4px 4px rgb(28, 29, 28);
    border-color: rgb(5, 248, 45);
}
@media screen and (max-width:480px){
    .btns{
        width:60%;
        padding:1% 2%;
        margin:10px 20px;
        background-color: rgba(23, 248, 218, 0.774);
        border-radius: 20px;
        box-shadow:3px 3px rgb(107, 109, 238);
    } 
}
@media screen and (max-width:480px){
    .navbar{
    
        background-color: rgba(5, 136, 92, 0.979);
       
    } 
}
p{
    margin-top: 4%;;
}
.poemlink{
    
    font-size: 1.2em;
    color: #56f7a6;
}
.poemlink:hover{
    color: #f5e170;
    font-weight: bold;
}

.college{
    color:rgb(190, 240, 144);
}
.college:hover{
    color:#03f123;
    font-weight: bold;
}
.footer{
    position: static;
    padding: 3%;    
    text-align: center;
    margin-top:5%;
    color:#84f8df;
}
i{
    color: #84f8df;
    margin:5% 3% 0 3%;

}
i:hover{
    color:#4e7bf7;
}
@media screen and (max-width:480px){
    .footer{
    
        position: static;
        padding: 1%;    
        text-align: center;
        margin-top:2%;
        color:#4df5d9;
       
    } 
}
#profilepic{ 
     transition: all .2s ease-in-out;
 }
#profilepic:hover{
    transform: scale(1.5); 
    padding: 5% 2%;
    border-radius: 50%;
}
.codegif{
    border-radius: 50%;
    background:none;
    float: left;
    object-fit: fill;
    margin-right: 12%;
  
}
.poetgif{
    border-radius: 50%;
    background:none;
    float: left;
    object-fit: fill;
    margin-right: 8%;
}
.poemlist{
    padding-top: 3%;
}